<% tool = {'3' => 'Rastrigin', '5' => 'Schwefel'} -%>
\begin{table}[H]
\begin{tabular}{l | l | l | l | l | l}
Herramienta    & Nodos & Islas & Función   & $\overline{tiempo} \pm  \sigma$ & \textit{Speedup} \\
<% last_time = nil -%>
<% rows.each do |row| -%>
  <% speedup = last_time ? last_time / row[:avg_times] : 1 -%>
  \hline
  \textit{<%= row[:tool] %>} & <%= row[:nodes] %>     & <%= row[:islands] %>     & <%= tool[row[:function]] %> & $<%= row[:avg_times].round(3) %> \pm <%= row[:sd_times].round(3) %>$       & <%= speedup.round(3) %>            \\
  <% last_time = row[:avg_times] -%>
<% end %>
\end{tabular}
\end{table}